{% extends "base.html.twig" %}

{% block title %}Ajout de produit{% endblock %}

{% block body %}
    <h1>Ajout de produit</h1>

    {# Template twig du formulaire #}
    {% include 'produit/_produit_form.html.twig' %}
{% endblock %}
