{#
    Ce tetmplate va hériter de base.html.twig
    Il va hériter de sa structure et on pouura remplacer le contenu de ses blocks
#}
{% extends "base.html.twig" %}

{#
On écrase la valeur d'un bloc
#}

{% block body %}
    <h1>Accueil</h1>

    <p>
        Nombre de produits : {{ produits|length }}
    </p>

    <p>
        Nombre de produits sans desciption: {{ produits_sans_description|length }}
    </p>

    <p>
        Produit sans description avec le plus petit stock : {{ produit_par_critère.nom }}
    </p>

{% endblock %}
